<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd ">

    <!-- bean annotation driven -->
    <context:annotation-config />
    <context:component-scan base-package="pattern" ></context:component-scan>

    <!--<bean name="urseRmiService" class="com.lm.core.service.impl.UserRmiServiceImpl"/>-->
    <!--<bean name="rmiTest" class="org.springframework.remoting.rmi.RmiServiceExporter">-->
        <!--<property name="service" ref="urseRmiService" />-->
        <!--<property name="serviceName" value="urseRmiServiceTest" />-->
        <!--<property name="serviceInterface" value="com.lm.core.service.UserRmiService"/>-->
        <!--<property name="registryPort" value="1021" />-->
    <!--</bean>-->

    <!--服务端-->
    <!--<bean id="helloRMIServiceImpl" class="springrmi.client.HelloRMIServiceImpl"> </bean>-->
    <!--&lt;!&ndash; 将一个类发布为一个RMI服务 &ndash;&gt;-->
    <!--<bean id="myRMIServer"  class="org.springframework.remoting.rmi.RmiServiceExporter">-->
        <!--<property name="serviceName" value="helloRMI"></property>-->
        <!--<property name="service" ref="helloRMIServiceImpl"></property>-->
        <!--<property name="serviceInterface" value="springrmi.client.HelloRMIService"></property>-->
        <!--<property name="registryPort" value="9999"></property>-->
    <!--</bean>-->

    <!-- 客户端 -->
    <!--<bean id="myRMIClient"  class="org.springframework.remoting.rmi.RmiProxyFactoryBean">-->
        <!--<property name="serviceInterface" value="springrmi.client.HelloRMIService"></property>-->
        <!--<property name="serviceUrl" value="rmi://127.0.0.1:9999/helloRMI"></property>-->
    <!--</bean>-->

    <!-- 批量扫描@Component -->
    <context:component-scan base-package="com.jedis"/>
    <bean id="ijedis" class="redis.clients.jedis.Jedis">
        <constructor-arg name="host" value="localhost"/>
    </bean>
    <bean id="articlesDAOImpl" class="com.jedis.ArticlesDAOImpl">
        <property name="myjid" ref="ijedis"/>
    </bean>

    <!--<bean id="iocStringDisplay" class="pattern.decorator.IocStringDisplay">-->
    <!--</bean>-->

    <!--<bean id="sideBorder" class="pattern.decorator.SideBorder">-->
    <!--</bean>-->
</beans>